/* Editando as seções */
#sobre, 
#servicos, 
#portfolio, 
#contato {
    padding: 10rem 0;
}

/* Hero Section*/
.bgimage {
    height: 100vh;
    position:relative;

    background: url("images/heroImagem.jpg");
    background-size: cover;
}
.heroTitle {
    font-size: 4.5rem;
}
.heroDesc {
    font-size: 2rem;
}
.heroText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* Imagem Sobre Mim */
.aboutImage {
    width: 100%;
}
.servicesText.card {
    height: 280px;
    cursor: pointer;
    padding: 0 2rem;
}
.servicesIcon {
    height: 36px;
    text-align: center;
    width: 100%;
}
.cardTitle {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;;
}
.servicesText:hover {
    border: 1px solid #008000;
}

/* Estilização do cabeçalho */
.navbar {
    background-color: #006342;
}
.navbar {
    color: white;
    padding: 0.5rem;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 4px;
}

/* Aula 3 Icones Seção Contato */
.contactIcon {
    font-size: 2.5rem;
    color: #006342;
}

/* Footer */
footer {
    background-color: #003020;
}
.footeIcon {
    font-size: 2rem;
    color: white;
}
.footerIcon:hover {
    color: #c4c4c4;
}
.footerDev {
    background-color: #006342;
}

/* Efeito de GlassMorphismo*/
.glass {
    position: absolute;
    height: 40%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgba(75 255 119, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
}